/* ****************** */
/* SECTION HERO */
/* ****************** */

.section-hero {
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.section-hero img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
}

/* From uiverse.io by @joe-watson-sbf */
.card1 {
   width: 210px;
   height: 254px;
   border-radius: 4px;
   background: #212121;
   display: flex;
   gap: 5px;
   padding: .4em;
 }
 
 .card1 p {
   height: 100%;
   flex: 1;
   overflow: hidden;
   cursor: pointer;
   border-radius: 2px;
   transition: all .5s;
   background: #212121;
   border: 1px solid #A6D6E3;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .card1 p:hover {
   flex: 4;
 }
 
 .card1 p span {
   min-width: 14em;
   padding: .5em;
   text-align: center;
   transform: rotate(-90deg);
   transition: all .5s;
   text-transform: uppercase;
   color: #A6D6E3;
   letter-spacing: .1em;
 }
 
 .card1 p:hover span {
   transform: rotate(0);
 }

.ttd{
   background-color: black;
}

.txt{
   color: #A6D6E3;
}

.judul{
   font-family: 'Sriracha', cursive;
}

